#root {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.5rem;
}

.app {
    width: 100%;
    max-width: 60ch;
}

.header {
    margin-bottom: 1.5rem;
    position: relative;
    margin-top: 2rem;
}

.wordlist {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid #dee2e6;
}

.form-group {
    padding-bottom: 1rem;
}

h1 {
    line-height: 1.1;
}

.header p {
    margin-top: 1rem;
}

.header .typing-words {
    font-size: 8vw; /* Browsers that do not support "MIN () - MAX ()" and "Clamp ()" functions will take this value.*/
    font-size: max(3rem, min(8vw, 6rem)); /* Browsers that do not support the "clamp ()" function will take this value. */
    font-size: clamp(3rem, 8vw, 6rem);
}

.those-are {
    font-size: 1.8rem;
    display: block;
}
